<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
  </ion-buttons>
  <ion-title class="center">Firmware Upgrade</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
<div>
  <p>{{status}}</p>
</div>
<div>
  <ion-progress-bar color="primary" [value]="progress"></ion-progress-bar>
</div>
<div>
  <ion-button size="large" color="warning" (click)="downloadBinaryA()">Download A</ion-button>
  <ion-button size="large" color="warning" (click)="downloadBinaryB()">Download B</ion-button>
  <ion-button size="large" color="warning" (click)="abort()">Abort</ion-button>
  <ion-button *ngIf="enableSwitchButton" size="large" color="danger" (click)="commit()">Switch</ion-button>
</div>
</ion-content>
