<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="center">{{devInfo.btClassicName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button style="padding-right:10px" (click)="navToOverTheAirDownloadPage()">
                <ion-icon slot="icon-only" name="code-download"></ion-icon>
            </ion-button>
            <ion-button style="padding-right:10px" (click)="navToSettingsPage()">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <!-- Refresher -->
    <ion-refresher (ionRefresh)="scanRefresh($event)" (ionPull)="scanPull($event)">
        <ion-refresher-content pullingText="" refreshingText="">
        </ion-refresher-content>
    </ion-refresher>            
    <!-- Buttons and Codec Display  -->
    <div>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-img *ngIf="isStreaming && streamCodecStr == 'AAC'" class="codec-logo-img" src="assets/icon/aac-logo.png"></ion-img>
                    <ion-img *ngIf="isStreaming && streamCodecStr == 'APTX'" class="codec-logo-img" src="assets/icon/aptx-logo.png"></ion-img>
                    <ion-img *ngIf="isStreaming && streamCodecStr == 'APTX-LL'" class="codec-logo-img" src="assets/icon/aptxll-logo.png"></ion-img>
                </ion-col>
                <ion-col col-6>
                    <ion-button expand="block" (click)="pairButtonPressed($event)" color="{{pairButtonColor}}">Pair</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>    
    </div>
    <!-- Pair Host Device List -->
    <div>
        <!-- <ion-label>
            <p class="center">{{pullToScanMsg}}</p>
        </ion-label> -->
        <ion-list-header color="light">
            <p>Paired Host-Devices</p>
        </ion-list-header>        
        <ion-list>
            <ion-item-sliding *ngFor="let pdlRec of pdlRecs" #item>
    
                <ion-item (click)="connectPdl(item, pdlRec)">
                    <div slot="start">
                        <ion-icon size="large" name="musical-notes" color="primary" *ngIf="pdlRec.isMusicProvisioned && pdlRec.isMusicConnected"></ion-icon>
                        <ion-icon size="large" name="musical-notes" *ngIf="pdlRec.isMusicProvisioned && !pdlRec.isMusicConnected"></ion-icon>
                        <ion-icon size="large" name="call" color="primary" *ngIf="pdlRec.isPhoneProvisioned && pdlRec.isPhoneConnected"></ion-icon>
                        <ion-icon size="large" name="call" *ngIf="pdlRec.isPhoneProvisioned && !pdlRec.isPhoneConnected"></ion-icon>
                        <ion-icon size="large" name="phone-portrait" *ngIf="pdlRec.isSppProvisioned"></ion-icon>
                    </div>
                    <div class="item-control-div">
                        <p class="dev-name-label">{{pdlRec.remoteDevName}}</p>
                        <p class="dev-addr-label">{{pdlRec.addr}}</p>
                        <ion-range slot="start" *ngIf="pdlRec.isStreaming" [(ngModel)]="volumeLevel" color="danger" pin="false" min="0" max="1000" step="50" debounce="100" (ionFocus)="volumeSliderTouchDown($event)" (ionBlur)="volumeSliderTouchUp($event)" (ionChange)="volumeSliderChanged($event)">
                            <ion-icon slot="start" size="small" name="volume-mute"></ion-icon>
                            <ion-icon slot="end" name="volume-high"></ion-icon>      
                        </ion-range>
                    </div>
                    <ion-button *ngIf="pdlRec.isMusicConnected" slot="end" (click)="playPauseButtonPressed(pdlRec)">
                        <ion-icon slot="icon-only" *ngIf="!pdlRec.isStreaming" name="play"></ion-icon>      
                        <ion-icon slot="icon-only" *ngIf="pdlRec.isStreaming" name="pause"></ion-icon>      
                    </ion-button>
                </ion-item>

                <ion-item-options>
                    <ion-item-option color="danger" (click)="removePdl(item, pdlRec)">
                        <ion-icon name="trash" size="large"></ion-icon>
                        Remove
                    </ion-item-option>
                    <ion-item-option *ngIf="!pdlRec.isMusicConnected" color="primary" (click)="disconnectPdl(item, pdlRec)">
                        <ion-icon name="bluetooth" size="large"></ion-icon>
                        Connect
                    </ion-item-option>
                    <ion-item-option *ngIf="pdlRec.isMusicConnected" color="primary" (click)="disconnectPdl(item, pdlRec)">
                        <ion-icon name="bluetooth" size="large"></ion-icon>
                        Disconnect
                    </ion-item-option>        
                </ion-item-options>
                  
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>
  

        
