<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="center">{{devInfo.btClassicName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button style="padding-right:10px" (click)="navToSettingsPage()">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <!-- Refresher -->
    <ion-refresher (ionRefresh)="scanRefresh($event)" (ionPull)="scanPull($event)">
        <ion-refresher-content pullingText="" refreshingText="">
        </ion-refresher-content>
    </ion-refresher>            
    <!-- <div class="md-hamb mbsc-padding">
        <mbsc-tab-nav display="inline">
            <mbsc-nav-item *ngFor="let item of actionItems" [(selected)]="item.selected" [disabled]="item.disabled" [icon]="item.icon">{{item.text}}</mbsc-nav-item>
        </mbsc-tab-nav>
    </div> -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button id="showVertical" (click)="vertical.instance.show()" >
            <ion-icon name="more"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- Device Image -->
    <div class="device-image-div">
        <img class="img" src="assets/icon/receiver-logo.png"/>
    </div>
    <div class="codec-div" *ngIf="isStreaming && streamCodecStr == 'AAC'">
        <ion-img  class="codec-aac-logo-img" src="assets/icon/aac-logo.svg"></ion-img>
    </div>
    <div class="codec-div" *ngIf="isStreaming && streamCodecStr == 'APTX'">
        <ion-img class="codec-aptx-logo-img" src="assets/icon/aptx-logo.svg"></ion-img>
    </div>
    <div class="codec-div" *ngIf="isStreaming && streamCodecStr == 'APTX-LL'">
        <ion-img class="codec-aptx-logo-img" src="assets/icon/aptxll-logo.svg"></ion-img>    
    </div>
    <div class="codec-div" *ngIf="isStreaming && streamCodecStr == 'APTX-HD'">
        <ion-img class="codec-aptx-logo-img" src="assets/icon/aptxhd-logo.svg"></ion-img>    
    </div>
    <!-- Buttons and Codec Display  -->
    <!-- <div>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-img *ngIf="isStreaming && streamCodecStr == 'AAC'" class="codec-logo-img" src="assets/icon/aac-logo.png"></ion-img>
                    <ion-img *ngIf="isStreaming && streamCodecStr == 'APTX'" class="codec-logo-img" src="assets/icon/aptx-logo.png"></ion-img>
                    <ion-img *ngIf="isStreaming && streamCodecStr == 'APTX-LL'" class="codec-logo-img" src="assets/icon/aptxll-logo.png"></ion-img>
                </ion-col>
                <ion-col col-6>
                    <ion-button expand="block" (click)="pairButtonPressed($event)" color="{{pairButtonColor}}">Pair</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>    
    </div> -->
    <!-- Pair Host Device List -->
    <div>
        <!-- <ion-label>
            <p class="center">{{pullToScanMsg}}</p>
        </ion-label> -->
        <ion-list-header color="light">
            <p>Paired Host-Devices</p>
        </ion-list-header>        
        <ion-list>
            <ion-item-sliding *ngFor="let pdlRec of pdlRecs" #item>
    
                <ion-item (click)="connectPdl(item, pdlRec)">
                    <div slot="start">
                        <ion-icon size="large" name="musical-notes" color="primary" *ngIf="pdlRec.isMusicProvisioned && pdlRec.isMusicConnected"></ion-icon>
                        <ion-icon size="large" name="musical-notes" *ngIf="pdlRec.isMusicProvisioned && !pdlRec.isMusicConnected"></ion-icon>
                        <ion-icon size="large" name="call" color="primary" *ngIf="pdlRec.isPhoneProvisioned && pdlRec.isPhoneConnected"></ion-icon>
                        <ion-icon size="large" name="call" *ngIf="pdlRec.isPhoneProvisioned && !pdlRec.isPhoneConnected"></ion-icon>
                        <ion-icon size="large" name="phone-portrait" *ngIf="pdlRec.isSppProvisioned"></ion-icon>
                    </div>
                    <div class="item-control-div">
                        <p class="dev-name-label">{{pdlRec.remoteDevName}}</p>
                        <p class="dev-addr-label">{{pdlRec.addr}}</p>
                        <ion-range slot="start" *ngIf="pdlRec.isStreaming" [(ngModel)]="volumeLevel" color="danger" pin="false" min="0" max="1000" step="50" debounce="100" (ionFocus)="volumeSliderTouchDown($event)" (ionBlur)="volumeSliderTouchUp($event)" (ionChange)="volumeSliderChanged($event)">
                            <ion-icon slot="start" size="small" name="volume-mute"></ion-icon>
                            <ion-icon slot="end" name="volume-high"></ion-icon>      
                        </ion-range>
                    </div>
                    <ion-button *ngIf="pdlRec.isMusicConnected" slot="end" (click)="playPauseButtonPressed(pdlRec)">
                        <ion-icon slot="icon-only" *ngIf="!pdlRec.isStreaming" name="play"></ion-icon>      
                        <ion-icon slot="icon-only" *ngIf="pdlRec.isStreaming" name="pause"></ion-icon>      
                    </ion-button>
                </ion-item>

                <ion-item-options>
                    <ion-item-option color="danger" (click)="removePdl(item, pdlRec)">
                        <ion-icon name="trash" size="large"></ion-icon>
                        Remove
                    </ion-item-option>
                    <ion-item-option *ngIf="!pdlRec.isMusicConnected" color="primary" (click)="disconnectPdl(item, pdlRec)">
                        <ion-icon name="bluetooth" size="large"></ion-icon>
                        Connect
                    </ion-item-option>
                    <ion-item-option *ngIf="pdlRec.isMusicConnected" color="primary" (click)="disconnectPdl(item, pdlRec)">
                        <ion-icon name="bluetooth" size="large"></ion-icon>
                        Disconnect
                    </ion-item-option>        
                </ion-item-options>
                  
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>
  
<ion-footer>
    <ion-toolbar>
        <!-- <h4 class="center">HomeSpot Connect<br></h4>
        <h4 class="center-small">Copyright 2019</h4> -->
        <ion-img class="hslogo-img" src="assets/icon/homespot Logo.jpg"></ion-img>
    </ion-toolbar>
</ion-footer>

<mbsc-popup [options]="actionSettings" #vertical="mobiscroll">
    <mbsc-listview [options]="lvSettings">
        <mbsc-listview-item *ngFor="let item of actionItems" [icon]="item.icon" (click)="vertical.instance.hide()">
            {{ item.text }}
        </mbsc-listview-item>
    </mbsc-listview>
</mbsc-popup>

        