<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="center">Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group>
        <ion-list-header color="light">
            <p>Bluetooth Pairing Name</p>
        </ion-list-header>
        <ion-item>
            <ion-input type="text" clear-input maxlength="20" placeholder="{{origBtName}} (Default)" [(ngModel)]="customBtName" (ionBlur)="updateBluetoothName()" (keyup.enter)="updateBluetoothName()">Name:  </ion-input>
        </ion-item>
        <ion-list-header color="light">
            <p>A2DP Codec</p>
        </ion-list-header>
        <ion-item>
            <ion-label>APT-X</ion-label>
            <ion-toggle [(ngModel)]="codecAptX" (ngModelChange)="updateCodec()"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>APT-X Low Latency</ion-label>
            <ion-toggle [(ngModel)]="codecAptXLL" (ngModelChange)="updateCodec()"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>AAC</ion-label>
            <ion-toggle [(ngModel)]="codecAac" (ngModelChange)="updateCodec()"></ion-toggle>
        </ion-item>
    </ion-item-group>
    <div class="action-div">
        <ion-button expand="block" (click)="factoryResetPressed($event)" color="danger">Factory Reset</ion-button>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <!-- <h4 class="center">HomeSpot Connect<br></h4>
        <h4 class="center-small">Copyright 2019</h4> -->
        <ion-img class="hslogo-img" src="assets/icon/homespot Logo.jpg"></ion-img>
    </ion-toolbar>
</ion-footer>
        